{% load recipe_filters %}
<div class="card" data-id="{{ recipe.id }}">
            <a href="{% url 'recipe_view' recipe.id %}" class="link" target="_blank"><img src="{% if recipe.image %}{{ recipe.image.url }}{% endif %}" alt="Автор не загрузил фото к этому рецепту" class="card__image"></a>
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe_view' recipe.id %}" target="_blank">{{ recipe.title }}</a>
                <ul class="card__items">
                    {% for tag in recipe.tag.all %}
                    <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
                    {% endfor %}
                </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.username|get_user_name }}</a></p>
                </div>
            </div>
            <div class="card__footer">
                {% include 'includes/button_buy.html' %}
                {% include 'includes/button_favorite.html' %}
            </div>
        </div>
