{% extends "base.html" %}
{% load user_filter %}
{% load i18n %}
{% load static %}

{% block title %}Новый пароль{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    {% if validlink %}

        <div class="main__header">
            <h1 class="main__title">Введите новый пароль</h1>
        </div>

        <form method="post" class="form" style="display: block; margin-left: auto; margin-right: auto">{% csrf_token %}
            <div class="form__group">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1" class="form__label">{% translate 'New password:' %}</label>
                    {{ form.new_password1 | addclass:"form__input" }}
                </div>
                <span class="form__error">{{ form.new_password1.errors }}</span>
            </div>
            <div class="form__group">
                <div class="form-row field-password2">
                    <label for="id_new_password2" class="form__label">{% translate 'Confirm password:' %}</label>
                    {{ form.new_password2 | addclass:"form__input" }}

                </div>

            </div>
            <span class="form__error">{{ form.new_password2.errors }}</span>
            <div class="form__footer">

                <input type="submit" value="{% translate 'Change my password' %}"
                       class="button button_style_blue">
            </div>
        </form>

    {% else %}

        <p style="display: block; margin-left: auto; margin-right: auto; color: #ff3d29; font-weight: bold">Ссылка
            сброса пароля содержит
            ошибку или
            устарела.</p>

    {% endif %}

{% endblock %}