{% extends 'base.html' %}
{% block title %} Мои подписки {% endblock %}
    {% load static %}
    {% csrf_token %}
    {% block subs %} <li class="nav__item nav__item_active"> {% endblock %}
    {% block static %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
    {% endblock %}
    {% load recipe_filters %}
    {% block nav %}
        {% include 'includes/nav.html' with follow=True %}
    {% endblock %}
    {% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for item in authors %}
        <div class="card-user" data-author="{{ item.author.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title"> {{ item.author.username|get_user_name }} </h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                        {% for recipe in item.author.recipes.all|slice:":3" %}
                                <li class="card-user__item">
                                    <div class="recipe">
                                        <a href="{% url 'recipe_view' recipe.id %}" class="link">
                                            <img src="{% if recipe.image %}{{ recipe.image.url }}{% endif %}" alt="Автор не загрузил фото к этому рецепту" class="recipe__image"></a>
                                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                                    </div>
                                </li>
                        {% endfor %}
                    {% if item.author.recipes.all.count|add:-3 > 0 %}
                    <li class="card-user__item">
                        <a href="{% url 'profile' item.author.username %}" class="card-user__link link">Еще {{ item.author.recipes.all.count|add:-3 }} ...</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться </button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
    {% include 'includes/paginator.html' with items=page paginator=paginator %}
    {% endif %}
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>


{% endblock %}
