{% extends "base.html" %}
{% block title %} Рецепты {% endblock %}
{% load static %}
{% csrf_token %}
{% block static %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% load recipe_filters %}
{% block nav %}
    {% include 'includes/nav.html' with index=True %}
{% endblock %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
          {% include 'tags-check-box.html' %}
        </div>
        <div class="card-list">
            {% for recipe in page %}
            {% include 'includes/recipe_item.html' %}
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include 'includes/paginator.html' with items=page paginator=paginator %}
        {% endif %}
    </main>
    <script src="{% static 'js/config/config.js' %}"></script>
    {% if user.is_authenticated %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>

    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/indexAuth.js' %}"></script>
    {% else %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>

    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/indexNotAuth.js' %}"></script>
    {% endif %}
{% endblock %}


