{% extends 'base.html' %}
{% block title %} Список покупок {% endblock %}
{% block shop %} <li class="nav__item nav__item_active"> {% endblock %}    
{% load static %}
    {% csrf_token %}
    {% block static %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
    {% endblock %}
    {% load recipe_filters %}
    {% block nav %}
        {% include 'includes/nav.html' with shopping_list=True %}
    {% endblock %}
    {% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in shopping_roster %}
            <li class="shopping-list__item" data-id="{{ recipe.recipe.id }}">
                <div class="recipe recipe_reverse">
                    <img src="{% if recipe.recipe.image %} {{ recipe.recipe.image.url }} {% endif %}"  alt="Автор не загрузил фото к этому рецепту" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ recipe.recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.recipe.cooking_time }} мин.</p>
                </div>
                <a  class="shopping-list__button link" href="#">Удалить</a>
            </li>
            {% endfor %}
        </ul>

        {% if user.is_authenticated %}
        <a href="{% url 'download' %}"><button class="button button_style_blue">Скачать список</button></a>
        {% endif %}

    </div>
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/shopList.js' %}"></script>
{% endblock %}